extends  ../base
include ../mixins/video

block content 
    h1=pageTitle 
    div.video-grid
        each recordingVideo in recordings
            +video(recordingVideo)
        else
            li Sorry.. Nothing found.
block scripts
    script(src="/static/js/videoPreview.js")