.video-container {
    display: grid;
    gap: 2rem;
    grid-template-rows: repeat(3, 1fr);
}

.video-box {
    display: flex;
    flex-direction: column;
}

.video-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    height: 100%;
    align-items: center;

    li {
        white-space: nowrap;
    }
}

.category__title {
    border-bottom: $pink 4px solid;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
}