.form-header {
    max-width: 320px;
    margin: 0 auto 25px;
    text-align: center;
    font-size: 2rem;

    .form-header__logo {
        margin-bottom: 20px;
        font-weight: 700;

        i {
            font-size: 3rem;
            margin-right: 5px;
            color: rgb(27, 100, 241);
        }

        ;
    }

}

form {
    max-width: 320px;
    margin: 0 auto;

    input,
    .category {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        font-weight: 600;
        margin: 0 auto 25px;
    }

    .category {
        margin-bottom: 90px;
    }
}

.login-form {
    margin-top: 100px;
}

input:not(input[type="file"]):not(input[type="submit"]):not(input[type="range"]):not(.search__input) {
    width: 300px;
    color: black;
    font-weight: 600;
}

input[type="submit"],
.social-login__btn {
    color: white;
}

input[type="submit"] {
    background-color: rgb(27, 100, 241);
}

.search__form {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 320px;
    display: flex;
    justify-content: center;
    // text-align: center;

    input {
        margin: auto 0;
        padding: 0.3rem 1rem;
        font-size: 1rem;
    }

    .search__btn {
        padding: 0.4rem;
        border-radius: 5px;
    }
}

.loginToJoin {
    text-align: center;
    font-size: 1.2rem;

    a {
        color: rgb(27, 100, 241);
    }
}

input[type="file"] {
    // margin-top: 10px;
    width: 300px;
    background-color: white;
}

.input-label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
    font-weight: 600;
}

/*
form {
    max-width: 420px;
    margin: 0 auto;

    &:not(.search__form) {
        padding: 30px;
        background-color: rgba($color: $bg, $alpha: 0.7);
        border-radius: 10px;
        border: 1px solid rgba($color: #fff, $alpha: 0.1);
    }
}

input {
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

input:not(input[type="range"]),
input[type="submit"] {
    all: unset;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: white;
    margin-bottom: 10px;
    font-size: 16px;
    color: black;
    width: 90%;

    &::placeholder {
        color: black;
    }
}

input[type="submit"],
.social__btn {
    border-radius: 5px;
    padding: 12px 20px;
    background-color: white !important;
    color: rgba($color: $sig, $alpha: 1) !important;
    text-align: center !important;
    cursor: pointer;
    display: block;
    border: none;

    &:focus {
        outline: none;
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
*/