// .social-login {
//     border-top: 1px solid rgba(255, 255, 255, 0.2);
//     padding-top: 30px;
//     margin-top: 30px;

//     .social__btn--github {
//         background-color: transparent;
//         color: azure;
//     }
// }

.social-login {
    width: 300px;
    margin: 10px auto;
}

.social-login__btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    font-weight: 600;
    margin: 0 auto 25px;
    background-color: black;
}